body{
	background-image:url("https://cdn.wallpapersafari.com/22/48/q4fOrF.jpg"); 
	background-size: 100%;
	image size: 100%;
}
h1{
	text-align: center;
	font-size: 50 px;
	color: black;
}
form{
	text-align: center;
	margin: 20 px auto;
	width: 320 px;
	color: steelblue;

}
input{
	padding: 10 px;
	font-size: inherit;
}